#wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: black;
}

#planetHead {
	text-align: center;
}

#planetStats {
	width: 100%;
	margin: 0 auto;
	border-spacing: 20px;
}

#planetStats td, #planetStats th {
	background: linear-gradient(#2F8FFF 0, #32A8FF 75%, #FFFFFF 100%);
	border-radius: 1em;
	text-align: center;
}

#cell{
	background: linear-gradient(#23AC01 0, #A17DD9F 100%);
}

#planetStats img {
	height:25%;
	width:25%;
}