.page{
		background-color: black;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#planetHead {
	text-align: center;
	color: white;
	font-family: "Fascinate Inline", "courier new", monospace;
}

#planetStats {
	width: 100%;
	margin: 0 auto;
	border-spacing: 20px;
	border-collapse: separate;
}

#planetStats td, #planetStats th {
	background: linear-gradient(#2F8FFF 0, #32A8FF 75%, #FFFFFF 100%);
	border-radius: 1em;
	text-align: center;
	width: 12.5%;
	font-family: "Baloo Bhai", "Times New Roman", serif;
	margin: auto;
}

#cell{
	background: linear-gradient(#23AC01 0, #A17DD9F 100%);
}

#planetStats img {
	width:100%;

}